<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=127.0.0.1;Initial Catalog=adms7pro;User ID=sa;Password=lzt@123456" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="server=192.168.0.4;user id=learun;password=learun.com;database=LeaRunFramework_Base_2016;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.12 )(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=LEARUN)));User Id=learun;Password=qwert12345;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="qms" connectionString="Server=127.0.0.1;Initial Catalog=qms;User ID=sa;Password=lzt@123456" providerName="System.Data.SqlClient" />
  <add name="lzt_web1" connectionString="Data Source=.;Initial Catalog=lzt_web1;User ID=sa;Password=lzt@123456" providerName="System.Data.SqlClient" />
</connectionStrings>